<h2 style='color:royalblue'>Bienvenid@
  {{#each userData}}
    {{#if first_name}}
      {{this.first_name}}
    {{/if}}
  {{/each}}</h2>
<br />
<br />

{{!-- <p>{{userData}}</p> --}}
<div class='profile__card'>
  <div class='profile__card--info'>
    {{#each userData}}
      {{#if first_name}}
        <p>name: <span>{{this.first_name}}</span></p>
      {{/if}}
      {{#if last_name}}
        <p>surname: <span>{{this.last_name}}</span></p>
      {{/if}}
      {{#if email}}
        <p>email: <span>{{this.email}}</span></p>
      {{/if}}
      {{#if rol}}
        <p>rol: <span>{{this.rol}}</span></p>
      {{/if}}
      {{#if cart}}
        <br />
        {{!-- <p>cart: <span>{{this.cart}}</span></p> --}}
        <button
          onclick="location.href='/cart/{{this.cart}}'"
          style='background: lightblue;'
        >My Cart</button>
      {{/if}}

    {{/each}}

  </div>

  {{#if userData}}

    <button
      onclick="location.href='/user/logout'"
      style='background: orange;'
    >LOGOUT</button>

  {{else}}
    <button onclick="location.href='/user/login'">LOGIN</button>
  {{/if}}

</div>
<br />
<br />