<h3>Home : todos los productos:</h3>
<br>
<a href="/realtimeproducts">en tiempo Real → </a>
<br>
<br>

<p>{{ejemplo}}</p>


{{#if file}}

<div class="portaCards">
  
  {{#each file}}  
    <div class="card">

      {{!-- {{#each thumbnail}}
        <img src={{thumbnail}} />
      {{/each}} --}}
      <div class="portaImg">
        <img src={{thumbnail.[0]}} />
      </div>
      <div class="cardInfo">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p><strong>$ {{price}}</strong></p>
      </div>
    </div>
  {{/each}}
  
</div>

{{else}}
  <p>Lamentablemente no hay Productos para listar.</p>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>