<a href="/products">← productos</a>
<br/><br/>
<h3>Real Time Products:</h3>
<div class="portaCards"></div>
{{!-- 
{{#if file}}
  <div class="portaCards">
    {{#each file}}  
      <div class="card card-update">
        {{!-- {{#each thumbnail}}
          <img src={{thumbnail}} />
        {{/each}} 
        <div class="portaImg">
          <img src={{thumbnail.[0]}} />
        </div>
        <div class="cardInfo">
          <h2>{{title}}</h2>
          <p>{{description}}</p>
          <p><strong>$ {{price}}</strong></p>
        </div>
      </div>
    {{/each}}  
  </div>
  {{else}}
    <p>Lamentablemente no hay Productos para listar.</p>
{{/if}} - --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realProds.js"></script>